<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/styles.css">
    <title>Sklep obuwniczy</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="../index.html">
                <img src="https://www.flaticon.com/svg/static/icons/svg/860/860969.svg" width="45" alt=""
                    class="d-inline-block align-middle mr-2">
                <span class="text-uppercase font-weight-bold">SHOES</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="shop.html">Sklep</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">O nas</a>
                    </li>
                    <li>
                        <a class="nav-link" href="login.html">Zaloguj/zarejestruj</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://cdn3.iconfinder.com/data/icons/shoes-color/200/06-512.png" class="card-img"
                            alt="mokasyny">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Mokasyny</h5>
                            <p class="card-text">Skórzane mokasyny w klasycznym stylu. Stonowana kolorystyka, miękki
                                materiał.</p>
                            <p class="card-text">Dostępne rozmiary: 42-46</p>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Wybierz rozmiar
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">42</a>
                                    <a class="dropdown-item" href="#">43</a>
                                    <a class="dropdown-item" href="#">44</a>
                                    <a class="dropdown-item" href="#">45</a>
                                    <a class="dropdown-item" href="#">46</a>
                                </div>
                            </div>
                            <p class="card-text"><small class="text-muted">W magazynie jeszcze 10 par</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="text-center">
            Maciej Wrzesień S17390
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>

</body>

</html>