<div class="container">
    <div class="card card-aboutus">
        <div class="card-header">
            Nasza filozofia
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source
                        Title</cite></footer>
            </blockquote>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Kontakt telefoniczny</h5>
                    <p class="card-text">Jeśli potrzebujesz skorzystać z naszej infolinii, zapraszamy pod numer:
                    </p>
                    <h6>+48 800 800 800 <small><i>koszt taryfy wg operatora</i></small></h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Wyślij e-mail</h5>
                    <p class="card-text">Zachęcamy do wysyłania sugestii, problemów i zapytań pod nasz adres
                        e-mail:</p>
                    <h6>pomoc@sklep-obuwniczy.pl</h6>
                </div>
            </div>
        </div>
    </div>
</div>